@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px
}


body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(240, 238, 235);
    font-weight: 400;
    font-size: 18px;
    color: black;
}

a {text-decoration: none}

/* header */

header {
    width: 100%;
    background-color: rgb(44, 44, 44);
    box-shadow: 4px 6px 8px rgba(78, 76, 76, 0.925);
    padding: 20px 0;
    float: left;
    position: fixed;

}

.header-main {
    width: 70%;
    padding: 0px 15%;
}

.header-main h2 {
    float: left;
    color: rgb(219, 56, 56);
    font-weight: 500;
    /* padding-right: 150px; */
    cursor: pointer;
}

.header-main .header-empty {
    width: 150px;
    height: 1px;
    float: left;
}

.header-main .header-button {
    float: left;
    color: rgb(252, 252, 252);
    padding-right: 30px;
    margin-top: 5px;
}

.header-main .header-button:hover {
    color: red;
}

.header-main #search {
    float: right;
    margin-top: 4px;
    height: 24px;
    border-radius: 5px;
    border: 0px;
    width: 200px;
    font-size: 12px;
    padding-left: 12px;
    outline: none;
    background-color: rgba(231, 231, 231, 0.932);
}

.header-main #search:focus {
    background-color: white
}

/* body */

main {
    min-height: 300px;
    float: left;
    padding-top: 50px;
    padding-bottom: 30px;
}



/* footer  */


footer {
    width: 100%;
    background-color: rgb(44, 44, 44);
    box-shadow: -2px -6px 8px rgba(78, 76, 76, 0.925);
    padding: 20px 0 10px;
    float: left;
}

footer h1 {
    width: 100%;
    color: rgb(255, 255, 255);
    float: left;
    margin-bottom: 10px;
    font-weight: 300;
}

footer .footer-buttons {
    float: left;
    width: 40%;
    padding: 0 30%;
}

footer .footer-button{
    border-radius: 3px;
    padding: 7px;
    color: white;
    cursor: pointer;
}

.youtube {
    float: left;
    background-color: red;
    margin-right: 50px;
}

.twitter {
    float: left;
    background-color: blue;
    margin-right: 50px;
}

.facebook {
    float: left;
    background-color: blueviolet;
    margin-right: 60px;
}

.instagram {
    float: right;
    background-color: coral;
}

footer span {
    float: left;
    color: white;
}