@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;500&display=swap');

* {
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background-color: rgb(240, 238, 235);
    color: black;
    /* height: 3000px; */
}

a {text-decoration: none}

/* стили для шапки сайта */

header {
    width: 100%;
    background-color: rgb(44, 44, 44);
    box-shadow: 4px 6px 8px rgba(78, 76, 76, 0.925);
    padding: 20px 0;
    float: left;
    position: fixed;

}

.header-main {
    width: 70%;
    padding: 0px 15%;
}

.header-main h2 {
    float: left;
    color: rgb(219, 56, 56);
    font-weight: 500;
    /* padding-right: 150px; */
    cursor: pointer;
}

.header-main .header-empty {
    width: 150px;
    height: 1px;
    float: left;
}

.header-main .header-button {
    float: left;
    color: rgb(252, 252, 252);
    padding-right: 30px;
    margin-top: 5px;
}

.header-main .header-button:hover {
    color: red;
}

.header-main #search {
    float: right;
    margin-top: 4px;
    height: 24px;
    border-radius: 5px;
    border: 0px;
    width: 200px;
    font-size: 12px;
    padding-left: 12px;
    outline: none;
    background-color: rgba(231, 231, 231, 0.932);
}

.header-main #search:focus {
    background-color: white
}

.main-main {
    width: 70%;
    padding: 120px 15%;
    float: left;
}

.main {
    background-color: blanchedalmond;
    border: 1px solid burlywood;
    float: left;
    padding: 3% 25px 15px;
    box-shadow: 2px 3px 4px rgba(78, 76, 76, 0.575);
}

.main:hover {
    cursor: pointer;
    box-shadow: -18px 14px 30px rgb(172, 64, 64);
    position: relative;
    left: 2px;
    bottom: 2px;
}

main .news {
    width: 65%;
    margin-right: 30px;
    
}

main .notifications {
    width: 20%;
    float: right;
}

main .news img {
    width: 96%;
    padding: 8px 2%;
}

main .news h2 {
    color: rgb(219, 56, 56);
    font-weight: 500;
}

main .notifications h3 {
    color: rgb(219, 56, 56);
    font-weight: 500;
}

/* футтер сайта */

footer {
    width: 100%;
    background-color: rgb(44, 44, 44);
    box-shadow: -2px -6px 8px rgba(78, 76, 76, 0.925);
    padding: 20px 0 10px;
    float: left;
}

footer h1 {
    width: 100%;
    color: rgb(255, 255, 255);
    float: left;
    margin-bottom: 10px;
    font-weight: 300;
}

footer .footer-buttons {
    float: left;
    width: 40%;
    padding: 0 30%;
}

footer .footer-button{
    border-radius: 3px;
    padding: 7px;
    color: white;
    cursor: pointer;
}

.youtube {
    float: left;
    background-color: red;
    margin-right: 60px;
}

.twitter {
    float: left;
    background-color: blue;
    margin-right: 65px;
}

.facebook {
    float: left;
    background-color: blueviolet;
    margin-right: 65px;
}

.instagram {
    float: right;
    background-color: coral;
}

footer span {
    float: left;
    color: white;
}