#tap {
    position: fixed;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #333;
    border-radius: 50%;


    transition: all 100ms linear;
}
/* деллаем наш обьект черным кругом и устанавливаем для него фиксивроаную позцию относительно всего экрана */

/* для того чтобы наш блок перемещался за нашим тачем плавно прописываем характеристику transition */

/* с этой характеристикой конечно блок стал перемещаться по рахитски - без нее было лучше